.jumbotron{
	margin-bottom:0;
	padding:20px;
}

img{
	z-index:-2;
	position:absolute;
}

#word_bank{
	position: relative;
    margin-top: 50px;
    margin-left: 75px;
    padding: 10px 10px 10px 20px;
    width: 400px;
    height: 60px;
    border: 2px solid black;
    z-index: -2;
    background: rgba(204, 204, 204, 0.7);
    border-radius: 20px;
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
  }


#letters_guessed {
    position: relative;
    margin-top: 50px;
    margin-right: 75px;
    width: 450px;
    height: 60px;
    background: rgba(204, 204, 204, 0.7);
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    font-family: 'Gloria Hallelujah', cursive; 
   }


 div.container{
 	color: white;
 	font-family: 'Gloria Hallelujah', cursive;
 }